body{
    margin: 0;
    padding: 0;
    font-size: small;
    font-family:Lato,sans-serif;
    color: black;
    background-color: #aaaaaa;
}

/*Bootstrap*/
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin:0;
    padding:0;
    z-index: 0;

    overflow: hidden;
}

.row{
    margin:0px;
    padding: 0px;

}

/****************************************************/
/***********nav_bootstrap************/
.nav_color_change{
  background-color: rgba(40,40,40,1);
}

.navbar-default{
  background-color: rgba(48,48,48,0.3);
  border:none;
}

.navbar{
  margin: 0px;
  box-shadow: 0 6px 18px rgba(0,0,0,.175);
}

.navbar-default .navbar-nav>li>a{
  font-size:0.9em;
  color:white;
}

.nav_text{
  line-height: 50px;
}

.dropdown-menu{
  background-color: rgba(100,100,100,1);

  padding-bottom:15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dropdown-menu li{
  height: 2.5em;
  line-height:2.5em;
}

.dropdown-menu li a{
  color: white;
  font-weight: 100;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: rgba(255,255,255,0.7);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color:rgba(40,40,40,0);
  color: rgba(255,255,255,0.7);
}


.logo_container{
  width: 70px;
}

#slim_logo{
  margin-right:15px;
}

@media screen and (max-width: 767px){
  #slim_logo{
    width: 45px;
  }

  .dropdown-menu li{
    height: 1.7em;
    line-height:1.7em;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: white;
    font-weight: 100;
  }

  .navbar-nav .open .dropdown-menu{
    background-color:rgba(100,100,100,1);
    border-radius: 5px;
  }
}

.nav_bar_logo{
  line-height: 50px;
  float: left;
  height:50px;
}

.navbar-fixed-top .navbar-collapse{
  max-height: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
  transition:0.5s;
  color: rgba(48,48,48,0.8);
  background-color:rgba(240,240,240);
}


/*****************************************************/
/*固定图片页*/
.general_background_image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/1.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover
}

/*********************************************************/
/*覆盖第一页文字图片*/
.general_cover_image{
  display: block;
  height: 100vh;
  width: 100%;
  background-image:url('img/General.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}

/*******************************************************/
/*详细信息界面*/
.info_section{
  background-color: white;
}

.general_info{
  background-color: rgba(255,255,255,0.85);
}

#general_info_contain{
  height: auto;
}

/****************************************/
/*详细信息-侧边导航*/
.general_left_nav{
  padding: 0;
  height: 100vh;
  background-color:rgba(255,255,255,1);
}

.left_nav{
  padding-top:20vh;
  top:0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255,255,255);
}

.left_nav_after{/*侧边导航效果*/
  position:fixed;
  width:16.66666666%;
}

.left_nav h4, .left_nav ul{
  color:black;
  text-decoration: none;
  text-align-last: left;
  padding-left:20%;
}

.left_nav ul{
  background-color: #f3f3f3;
  margin: 20px;
  padding: 0px;
  border-radius: 5px;
}

.general_sidenav_li{
  line-height: 2.5em;
  border-radius: 5px;
  list-style: none;
}


.general_sidenav_a{
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
}

.general_sidenav_a:hover{
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

/*滚动到相应部分侧边栏颜色不同*/
.general_side_nav_color{
  background-color:#68b0ab;
  color: white;
  border-radius:5px;
  transition:0.2s;

  font-weight:bold;
}

/******************************************/
/*详细信息-右边信息*/
.general_right_info{
  padding: 10vh 5vw;
}

.general_info_element{
  margin: 0px 0px 0vh 0px;
  text-align: center;
}

.general_info_element_right{
  padding:0px 15px 0px 30px;
  float:right;
}

.general_info_element_left{
  padding:0px 15px;
}

.general_info_element_bottom{
  float: left;
}

.general_info_last{
  margin-bottom:10vh;
}

.general_info_element h3{
  text-align:left;
  padding: 50px 0px 0px 0px;
  font-size: 4em;
  font-weight:bold;
  letter-spacing:0.2em;

/*  border-top:dashed 2px rgba(180,180,180,0.5);*/
  color:#4f8a8b;
}

.general_info_element h4{
  text-align:left;
  margin: 1.5em 0px;
  font-size: 2em;
  letter-spacing:0.1em;
  color:#68b0ab;
  float: left;
  width: 100%;
}

.general_info_element h5{
  margin: 1.2em 0px;
  font-size: 1.5em;
  letter-spacing:0.1em;
  color:#158467;
  font-weight: bolder;
}

.general_info_element h6{
  margin: 10px 0px;
  font-size: 1.0em;
  letter-spacing:0.1em;
  color:#86c4ba;
}

.general_info_element p{
  text-align:justify;
  font-size: 16px !important;
  line-height: 1.7em !important;
  margin: 1em 0px;
  padding:0px 15px;
}

.general_info_element img{
  width:100%;
}

.general_info_element div video{
  width: 100%;
  height: 100%;
}

.general_info_element div img{
  width: 100%;
  height: auto;
}

.general_info_element div h5{
  margin-top:5%;
}

.general_info_element div p{
  padding-left:0px;
}

/**************************************************/
/**************************************************/
/*媒体查询*/
@media screen and (max-width: 850px){
  body{
    font-size:medium;
  }

  .general_left_nav{
    display: none;
  }

  .general_info_element h3, .general_info_element h4, .general_info_element h5, .general_info_element h6{
    letter-spacing:0.05em;
  }
}
