body{
    margin: 0;
    padding: 0;
    font-size: small;
    font-family:Arial, sans-serif;
    color: black;
    background-color: #aaaaaa;
}

/*Bootstrap*/
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin:0;
    padding:0;
    z-index: 0;

    overflow: hidden;
}

.row{
    margin:0px;
    padding: 0px;
}
/*****************nav_frame*****************/
.navbar{
    position:fixed;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    margin:0;
    padding:0;
    z-index:100;
    width:100%;
    text-align: center;

    background-color: rgba(48,48,48,0.3);
    box-shadow: 0px 7px 8px 7px rgba(0,0,0,0.1);
}

.navbar-logo{
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color:gray;

    line-height: 50px;
}

.navbar-button{
    display: none;
}

.navbar_nav{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:row;
    flex-direction:row;
    /*flex-basis: 100%;不换行*/
    padding: 0px;
    margin: 0px;
    width:1000px;

    list-style: none;
}

.nav_item{
    position:relative;
    margin: 0px 16px;
    padding: 0px .5rem;
    min-width:95px;

    line-height: 50px;
    /*下拉图标后的文字*/
    color: white;
    font-size: 1em;
}

.nav_item span{
    color: rgba(255,255,255,1);
    text-decoration:none;
    transition: 0.7s;
    padding: 0px 5px;
}

.nav_item span:hover{
    color: rgba(255,255,255,1)
}

#home_button span{
    color:white;
}


.dropdown-menu{
    position: absolute;
    display: none;
    padding: 10px 0px;
    top:100%;
    left:0;
    text-align: center;

    list-style: none;
    background-color: rgba(100,100,100,1);
}

.dropdown-item{
    display: block;
    padding: 0;

    color:white;
    text-decoration: none;
}

.dropdown-item:hover{
    text-decoration: none;
    background-color:rgba(255,255,255,0.8);
    color: black;
    transition: 0.7s;
}

/*用于toggle class*/
.nav_color_change{
    background-color:rgba(40,40,40,1);
}

.show_dropdown{
    display: block;
}

.show_dropdown_color{
    color: white;
}

/*******************nav_frame(media search)******************/
@media screen and (max-width: 950px) {
    .navbar{
    position:fixed;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    z-index:100;
    width:100%;
    text-align: left;

    background-color: rgba(48,48,48,1);
    box-shadow: 0px 7px 8px 7px rgba(0,0,0,0.1);
}

.navbar-logo{
    display: inline-block;
    width:200px;
    height: 50px;
    text-decoration: none;
    color:gray;

    line-height: 50px;
}

.navbar-button{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 12px;

    color: white;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(200,200,200,0.6);
    border-radius: 4px;
}

.navbar_nav{
    display: -ms-flexbox;
    display: none;
    -ms-flex-direction:column;
    flex-direction:column;
    flex-basis: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    width:500px;

    list-style: none;
}

.nav_item{
    position:relative;
    margin: 0px 16px;
    padding: 0px .5rem;
    min-width:95px;

    line-height: 50px;
    /*为了下拉图标后的文字*/
    color: white;
}

.nav_item span{
    color: rgba(255,255,255,1);
    transition: 0.7s;
}

.nav_item span:hover{
    color: rgba(255,255,255,1)
}

#home_button span{
    color:white;
}


.dropdown-menu{
    position: relative;
    display: none;
    padding: 10px 0px;
    top:0;
    left:0;
    text-align: left;
    width: 100%;

    list-style: none;
    background-color: rgba(100,100,100,1);
}

.dropdown-item{
    display: block;
    padding-left:30px;
    line-height: 25px;

    color:white;
    text-decoration: none;
}

.dropdown-item:hover{
    text-decoration: none;
    background-color:rgba(255,255,255,0.8);
    color: black;
    transition: 0.7s;
}

/*用于toggle class*/
.nav_color_change{
    background-color:rgba(40,40,40,1);
}

.show_dropdown{
    display: block;
}

.show_hide_nav{ /*一级菜单显示*/
    display: block;
}
}
